/*
body>div{
	margin-top: 10px;
}
.container{
	padding: 0;
}
a{
	text-decoration: none;
}
a>div{
	border: 10px solid white;
	border-radius: 3px;
	margin: 10px;
	background-color: #EEEEEE;
}
div>div:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}

div>p{
	padding: 13px;
}

div .col-md-3{
	margin: 0;
}

img{
	padding: 4%;
	height: 200px;
	width: 100%;
	align-items: center;
}
*/
body{
	background-color: #EEEEEE;
}

.root{
	padding: 0;
	margin: 0 3%;
}



img{
	width: 100%;
}

.card{
	border: 10px solid rgba(255,255,255,0.1);
	background-clip: padding-box;
	background-color: white;
	padding: 0;
	margin-top: 20px;
	border-radius: 0;
}

.card-column>.card{
	cursor: pointer;
}
.col-md-8>.card{
	margin-top: 3%;
}

.col-md-8{
	padding: 0;
}

button , img {
	cursor: pointer;
}

.card-columns{
	padding-top: 20px;
	column-count: 4;
}

.deep-detail>.card-columns{
	column-count: 1;
}

@media ( max-width: 480px ){
	.card-columns{
		column-count: 1;
	}
}
@media ( min-width:486px ) and ( max-width: 768px ){
	.card-columns{
		column-count: 3;
	}
}

@media ( min-width: 768px ){
	.card-columns>.card:hover{
		transform : scale(1.05);
		transition-duration : 100ms;
	}
}


.card:before{
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 5px rgba(0,0,0,0.23);
}
.card-img-top{
	border-radius: 0;
}

.detail{
	padding: 5px;
	float: left;
	color: #FF6666;
	border-radius: 3px;
}

.detail:hover{
	background: #DDDDDD;
	text-decoration: none;
	color: #FF6666;
}

.share{
	float: right;
}

.deep-detail{
	position: absolute;
	top: 0;
	z-index: 5;
	color: black;
}

.cross-img{
	width: 30px;
	float: right;
	padding-top: 5px;
	position: absolute;
	z-index: 6;
	right: 0;
	color: black;
	padding-right: 5px;
}

.inSight{
	transform : scale(1.1);
	transition-duration : 100ms;
}


.blurring {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.transition{
	-webkit-transition: width 2s;
	transition: width 2s;
}
